#password-generator {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
}

#length {
  width: 100px;
}

#generate-password {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

#password {
  border: none;
  background-color: transparent;
  color: #ccc;
  font-size: 16px;
  padding: 10px;
}
